.Card {
  transition: all .4s;
  max-width: 162px;
  max-height: 162px;
  perspective: 1000px;
  transform: rotateY(0deg);
}

.Card .fa {
  font-size: 3rem;
}

.Card .flipper {
	transform-style: preserve-3d;
  width: 128px;
  height: 128px;
}

.Card .front, .Card .back {
  transition: all .4s;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.Card .front {
	z-index: 2;
	transform: rotateY(0deg);
}

.Card .back {
	transform: rotateY(180deg);
}

.Card.flipped {
  transform: rotateY(180deg);
}

.Card.flipped .front {
	z-index: 2;
	transform: rotateY(180deg);
}

.Card.flipped .back {
	transform: rotateY(0deg);
}

.Card.flipped .back .fa {
  transform: rotateY(180deg);
  backface-visibility: visible;
}